{% extends "dbtemplate.html" %}
{% block body %}
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="{{ url_for('index') }}" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="{{ url_for('static', filename='img/bbn-logo-small.png') }}">
          </div>
        </a>
        <a href="{{ url_for('index') }}" class="simple-text logo-normal">
          Elo Ratings
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{{ url_for('mk_home') }}">
              <i class="fa fa-tachometer" aria-hidden="true"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="active ">
            <a href="{{ url_for('mk_player') }}">
              <i class="fa fa-user" aria-hidden="true"></i>
              <p>Players</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('mk_team') }}">
              <i class="fa fa-users" aria-hidden="true"></i>
              <p>Teams</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('mk_result') }}">
              <i class="fa fa-desktop" aria-hidden="true"></i>
              <p>Results</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('mk_stat') }}">
              <i class="fa fa-area-chart" aria-hidden="true"></i>
              <p>Statistics</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand">Mario Kart</a>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-lg">
  
  <canvas id="bigDashboardChart"></canvas>
  
  
</div> -->
      <div class="content">

        {% if error %}
        <script>
          sweetAlert({
            type: 'error',
            title: 'Error!',
            text: "{{ error }}",
          });
        </script>
        {% endif %}

        <div class="row">
          <div class="col-md-6">
            <form action="{{ url_for('add_mkplayer') }}" method="POST" class="form">
              <div class="card ">
                <div class="card-header ">
                  <h5 class="card-title">Add Player</h5>
                </div>
                <div class="card-body">
                  <div class="form-group has-label">
                    <label for="first_name">First Name *</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required="true">
                  </div>
                  <div class="form-group has-label">
                    <label for="last_name">Last Name *</label>
                    <input type="text" class="form-control" id="last_name" name="last_name" required="true">
                  </div>
                  <div class="form-group has-label">
                    <label for="nickname">Nickname (Optional)</label>
                    <input type="text" class="form-control" id="nickname" name="nickname">
                  </div>
                  <div class="category form-category">* Required fields</div>
                </div>
                <div class="card-footer text-center">
                  <button type="submit" class="btn btn-primary btn-round">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li>
                  <a href="https://www.bbn.com" target="_blank">BBN Technologies</a>
                </li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                ©
                <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}
