{% extends "template.html" %}
{% block body %}
    <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="300">
        <div class="container">
			<div class="navbar-translate">
				<a class="navbar-brand" href="https://www.bbn.com">BBN Technologies</a>
			</div>
	        <div class="collapse navbar-collapse" id="navbarToggler">
	            <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://github.com/tylershake/elo-frontend" target="_blank">
                            <i class="fa fa-github"></i>
                            <p class="d-lg-none">GitHub</p>
                        </a>
                    </li>
	                <li class="nav-item">
	                    <a href="https://github.com/tshakebbn/elo-frontend/wiki" target="_blank" class="nav-link"><i class="nc-icon nc-book-bookmark"></i>  Documentation</a>
	                </li>
                    <li class="nav-item">
                        <a href="{{ url_for('login') }}" class="nav-link"><i class="fa fa-user-circle" aria-hidden="true"></i>  Login</a>
                    </li>

	            </ul>
	        </div>
		</div>
    </nav>
	<div class="page-header" data-parallax="true" style="background-image: url('{{ url_for('static', filename='img/daniel-olahh.jpg') }}');">
		<div class="filter"></div>
		<div class="container">
		    <div class="motto text-center">
		        <h1>BBN Elo Server</h1>
		        <h3>Player and team rankings for every game.</h3>
		        <br />
		        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a>
		    </div>
		</div>
	</div>
    <div class="main">
		<div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">Mario Kart</h2>
                        <h5 class="description">Mario Kart description paragraph</h5>
                        <br>
                        <a href="{{ url_for('mk_home') }}"><button class="btn btn-danger btn-round btn-lg">
                            View Ratings
                        </button></a>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img/mk.png') }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img/pong.png') }}" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-6">
                        <h2 class="title">Ping Pong</h2>
                        <h5 class="description">Ping Pong description paragraph</h5>
                        <br>
                        <a href="{{ url_for('pp_home') }}"><button class="btn btn-danger btn-round btn-lg">
                            View Ratings
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">Super Smash</h2>
                        <h5 class="description">Super Smash description paragraph</h5>
                        <br>
                        <a href="{{ url_for('ss_home') }}"><button class="btn btn-danger btn-round btn-lg">
                            View Ratings
                        </button></a>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img/smash.png') }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img/fb.png') }}" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-6">
                        <h2 class="title">Foosball</h2>
                        <h5 class="description">Foosball description paragraph</h5>
                        <br>
                        <a href="{{ url_for('fb_home') }}"><button class="btn btn-danger btn-round btn-lg">
                            View Ratings
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section landing-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">Mario Party</h2>
                        <h5 class="description">Mario Party description paragraph</h5>
                        <br>
                        <a href="{{ url_for('mp_home') }}"><button class="btn btn-danger btn-round btn-lg">
                            View Ratings
                        </button></a>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='img/mp.png') }}" class="img-fluid" alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>
    </div>
	<footer class="footer section-dark">
		<div class="container">
			<div class="row">
				<nav class="footer-nav">
					<ul>
						<li><a href="https://www.bbn.com" target="_blank">BBN Technologies</a></li>
					</ul>
				</nav>
				<div class="credits ml-auto">
					<span class="copyright">
						© <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
					</span>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/popper.js') }}" type="text/javascript"></script>
{% endblock %}
